name: Terraform Destroy

on:
  issues:
    types: [opened]

permissions:
  issues: write
  contents: read
  
jobs:
  destroy:
    if: contains(github.event.issue.title, '[Terraform Destroy]')
    runs-on: ubuntu-latest
    environment: actions
    
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      AWS_DEFAULT_REGION: us-east-1  # ajuste sua região


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init     
        working-directory: infra
        run: terraform init

      - name: Terraform Destroy     
        working-directory: infra
        run: terraform destroy -auto-approve

      - name: Close Issue
        uses: peter-evans/close-issue@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          comment: "✅ Infra destruída com sucesso pelo Terraform."
